@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/
p{
  text-align: center;
  padding:50px 0;
  font-size: 1.5rem;
}

/*========= ランダムに出現するテキスト ===============*/

.randomAnime {
  visibility: hidden;
}